.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
